.box_container {
  display: flex;
  position: absolute;
  bottom: 70px;  
  margin-right: 40px;    
  transform: translateX(18%);  
  align-items: flex-end;  
  gap: 140px;            
}

.box {
  width: 500px; 
  height: 700px; 
  background-color: white;
  position:relative;
}
.num {
  position: absolute;
  top: -50px;  
  left: -20%;
  font-size: 120px; 
  font-weight: bold;
  color: white; 
  border-radius: 5px;
}

.image{
  width: 460px;
  height: 654px;
  object-fit: cover;
  margin:20px;
}
.arow_btnl,
.arow_btnr {
  background: none;
  color: white;
  font-size: 300px;
  cursor:default;
  position: absolute;
  top: 50%;                
  transform: translateY(-50%); 
  box-shadow: none;
  
}

.arow_btnl {
  left: -600px; 
}

.arow_btnr {
  right: -600px; 
}

.restart_btn{
  background-color: #fd312e;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
  position: fixed;  
  right:0; 
  bottom: 0;
  margin-right: 400px;
  margin-bottom: 350px;
  border-radius: 10px;        
}

