.m_container {
    position: fixed;
    left: 30%; 
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    top: 10px;
  }
  
  .title {
    font-size: 150px;
    font-weight: bold;
    
  }
  
  .smry{
    font-size: 100px;
  }

  .infos{
    font-size: 50px;
    margin-bottom: 50px;
  }

  .year, .gamdok, .actors, .uage, .score, .genre {
    margin-bottom: 50px;
  }
  
  .eximg {
    position: absolute;
    top: 50%; 
    right: 10%;  
    margin-right: 30px;  
  }

  .watch_btn{
    background-color: #fd312e;
    font-size: 100px;
    border-radius: 40px;
    color: white; 
    padding: 20px 35px; 
    text-align: center; 
    display: inline-block; 
    cursor: pointer; 
    width: auto; 
    margin-top: 20px;
  }
