.m_container {
  position: fixed;
  left: 38%;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  top: 10px;
  width: 100%;
  z-index: 2;
}

.name {
  font-size: 2vw;
  font-weight: bold;
}

.overview {
  font-size: 1vw;
  max-width: 40%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 1.5;
  
}

.info_box {
  margin-top: 10%;
  display: flex;
}

.group, .group2 {
  display: flex;
  flex-direction: column;
  padding: 1%;
  font-size: 2vh;
}

.watch_btn {
  position: fixed;
  background-color: #fd312e;
  color: white;
  font-size: 3vh;
  border-radius: 30px;
  padding: 30px 40px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width: auto;
  margin-top: 1vh;
  margin-left:2vh;
}
