.backdrop_path {
  position: fixed; 
  top: 0;
  right: 0;  
  width: 67%;  
  height: 100vh;
  background-image: url('/images/peaky.jpg');  
  background-size: cover;  
  z-index: 0;  
  opacity: 0.5;  
}

.poster_path {
  position: fixed;
  top: 34%;  
  z-index: 1;  
  width: 5vh ;
  height: 30vh;  
}
